@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
	--clr-primary-400: hsl(0, 0%, 0%);
	--clr-secondary-400: hsl(0, 0%, 100%);
	--clr-accent-300: hsl(358, 88%, 38%);
	--clr-accent-400: hsl(358, 88%, 58%);
	--clr-neutral-400: hsl(0, 2%, 24%);

	--ff: "Poppins", sans-serif;

	--fw-400: 400;
	--fw-700: 700;

	--fs-300: 0.8rem;
	--fs-400: 1.5rem;
	--fs-500: 2.625rem;
	--fs-600: 3rem;
	--fs-700: 6rem;

	--lh-400: 1;

	--w-700: 29.375rem;
	--w-800: 70rem;

	--rounded-400: 10px;

	--fs-header: clamp(3rem, 2.1429rem + 4.2857vw, 6rem);
	--fs-logo: clamp(0.75rem, 0.5357rem + 1.0714vw, 1.5rem);
	--fs-banner: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

:focus-visible {
	outline: 2px solid var(--clr-neutral-400);
}

body {
	min-height: 100vh;
	font-family: var(--ff);
	display: grid;
	grid-template-areas: "header main";
	place-items: center;
}

#home {
	grid-template-areas:
		"header"
		"main";
	grid-template-rows: 70px 1fr;
}

.auth__header,
.auth__main {
	--_padding: 32px;
	width: min(var(--w-700), 100% - var(--_padding));
}

.home__header {
	--_padding-x: 32px;

	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - var(--_padding-x));
}

.logo {
	font-size: var(--fs-logo);
	font-weight: var(--fw-700);

	span {
		color: var(--clr-accent-400);
	}
}

.link-wrapper {
	display: flex;
	gap: 4px;
}

.hero-main {
	--_padding: 48px;
	width: min(var(--w-800), 100% - var(--_padding));
	grid-area: main;
	display: grid;
	place-items: center;
}

.auth__header {
	grid-area: header;
}

.auth__main {
	grid-area: main;
}

.hero-title,
.auth__header--title {
	font-size: var(--fs-700);
	font-size: var(--fs-header);
	font-weight: var(--fw-700);
	line-height: var(--lh-400);
	margin-bottom: 8px;

	span {
		color: var(--clr-accent-400);
	}
}

.hero-title {
	text-wrap: balance;
	text-align: center;
}

.hero-subtitle,
.auth__header--subtitle {
	strong {
		font-weight: var(--fw-700);
	}
}

.hero-subtitle {
	text-align: center;
	margin-bottom: 16px;
}

.auth__main--title {
	font-size: var(--fs-500);
	font-weight: var(--fw-700);
	text-align: center;
	margin-bottom: 8px;

	span {
		color: var(--clr-accent-400);
	}
}

@media (max-width: 50em) {
	body {
		grid-template-areas:
			"header"
			"main";
	}

	.auth__main {
		align-self: start;
	}
}

.auth__form {
	display: grid;
	gap: 16px;
}

.auth__field {
	--_padding-y: 16px;
	--_padding-x: 34px;

	position: relative;

	input {
		width: 100%;
		border: 1px solid var(--clr-neutral-400);
		padding: var(--_padding-y) var(--_padding-x);
		border-radius: var(--rounded-400);
	}

	label {
		position: absolute;
		top: var(--_padding-y);
		left: var(--_padding-x);
		transition: top 0.2s ease, font-size 0.2s ease;
	}

	input:focus + label,
	input:not(:placeholder-shown) + label {
		top: 1px;
		font-size: var(--fs-300);
	}

	.material-symbols-outlined {
		position: absolute;
		top: 18px;
		font-size: 20px;
		color: var(--clr-neutral-400);
	}

	[data-role="icon"] {
		left: 10px;
	}

	[data-toggle-visibility] {
		border: none;
		background: none;
		font-size: 22px;
		right: 12px;
		cursor: pointer;
	}
}

.link[data-background="true"],
.button,
.auth__button {
	border: none;
	border-radius: var(--rounded-400);
	background-color: var(--clr-accent-400);
	color: var(--clr-secondary-400);
	padding: 16px;
	box-shadow: 0 4px 4px var(--clr-neutral-400);
	cursor: pointer;
	transition: background-color 0.3s ease, scale 0.5s ease-in-out;

	&:hover {
		background-color: var(--clr-accent-300);
	}

	&:active {
		scale: 1.1;
	}
}

.auth__button:disabled {
	filter: grayscale(0.5) opacity(0.7);
	pointer-events: none;
}

.link[data-background] {
	box-shadow: none;
	border-radius: 30px;
	padding: 8px 16px;
	text-decoration: none;
	font-size: var(--fs-banner);
}

.link[data-background="false"] {
	color: var(--clr-primary-400);
	transition: color 0.3s ease;

	&:hover,
	&:focus-visible {
		color: var(--clr-accent-300);
	}
}

#logout-link {
	display: none;
}

.auth__link {
	text-align: center;

	a {
		text-decoration: none;
		font-weight: var(--fw-700);
		color: var(--clr-accent-400);
	}

	a:hover,
	a:focus-visible {
		text-decoration: underline;
	}

	a:active {
		opacity: 0.7;
	}
}

.bottom-banner {
	position: fixed;
	bottom: 0;
	background-color: var(--clr-accent-400);
	color: var(--clr-secondary-400);
	font-size: var(--fs-banner);
	padding: 16px;
	width: 100%;
	text-align: center;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
